<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<div th:insert="~{fragments/navbar.html :: navbar(${entreprise})}"></div>
    <div class="container align-item-center">
        <div class="row justify-content-center">
            <div class="col-4" th:object="${employee}">
                <h1 class="display-6" th:text="*{lastName}+' '+*{firstName}"></h1>
                <hr />
                <div class="justify-content-center">
                    <div class="card mb-3" style="width: 15rem;">
                        <img th:src="@{'data:image/jpeg;base64,'+${employee.image}}" class="card-img-top" style="width: 240px; height: 200px; display: block" alt="Employee Image" >
                        <div class="card-body">
                            <p class="card-text">Profile Picture</p>
                        </div>
                    </div>
                </div>
                <form action="#" th:action="@{/employees}" th:object="${employee}" method="post" enctype="multipart/form-data">
                    <input type="text" placeholder="Lastname" class="form-control col-4 mb-3" th:field="*{lastName}" disabled/>
                    <input type="text" placeholder="Firstname" class="form-control col-4 mb-3" th:field="*{firstName}" disabled/>
                    <label> Birthdate:
                        <input type="text" placeholder="Birthdate" class="form-control col-4 mb-3" th:field="*{birthDate}" disabled/>
                    </label>
                    <label> Sex:
                        <select name="sex" class="form-select form-select-lg mb-3">
                            <option selected th:value="*{sex}" th:text="*{sex}"></option>
                        </select>
                    </label>
                    <label>Socio Professionnal Category
                        <select name="socioProCategory" class="form-select form-select-lg mb-3">
                            <option selected th:value="*{socioProCategory}" th:text="*{socioProCategory}"></option>
                        </select>
                    </label>
                    <input type="text" disabled placeholder="Address" class="form-control col-4 mb-3" th:field="*{address}" />

                    <input type="text" disabled placeholder="Pro Email" class="form-control col-4 mb-3" th:field="*{emailPro}" />
                    <input type="text" disabled placeholder="Personnal email" class="form-control col-4 mb-3" th:field="*{emailPerso}" />
                    <label> CIN Number:
                        <input type="text" disabled placeholder="CIN number" class="form-control col-4 mb-3" th:field="*{CINNumber}" th:value="*{CINNumber}" />
                    </label>
                    <label> CIN issue date:
                        <input type="text" disabled placeholder="CIN issue date" class="form-control col-4 mb-3"th:value="*{CINIssueDate}" />
                    </label>
                    <label> CIN delivrance location
                        <input type="text" disabled placeholder="CIN delivrance location" class="form-control col-4 mb-3" th:field="*{CINDelivranceLocation}" th:value="*{CINDelivranceLocation}"/>
                    </label>
                    <label> Number of children
                        <input type="text" disabled placeholder="Number of children" class="form-control col-4 mb-3" th:field="*{children}" />
                    </label>
                    <label> Function
                        <input type="text" disabled placeholder="Function" class="form-control col-4 mb-3" th:field="*{function}" />
                    </label>
                    <label> Hiring date:
                        <input type="text" disabled placeholder="Hiring date" class="form-control col-4 mb-3" th:field="*{hiringDate}" />
                    </label>
                    <label> Departure date:
                        <input type="text" disabled placeholder="Departure date" class="form-control col-4 mb-3" th:field="*{departureDate}" />
                    </label>
                    <input type="text" disabled placeholder="CNAPS number" class="form-control col-4 mb-3" th:field="*{cnapsNumber}" />
                    <a th:href="@{/employee-form/edit(employeeId=${employee.id})}" class="btn btn-success">Edit the employee</a>
                </form>
            </div>
        </div>
    </div>